.outer {
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; Align items at the top */
    padding: 2rem;
    min-height: 100vh;
    gap: 2rem; /* Space between the card and image */
}


.chatbot-container {
    /* background-color: pink; */
    margin-top: 2rem; /* Match the card's top position */
    margin-right: 2rem; /* Right margin */
    align-self: flex-start; /* Align to the top */
    position: sticky;
    top: 2rem; /* Stay in position when scrolling */
    height: 500px;
    width: 500px;
    
}

